.box {
    border: 2px solid black;
    background-color: blue;
    width: 55vw;
    height: 50vh;
    position: absolute;
}

.ball {
    border: 5px solid rgb(255, 0, 0);
    background-color: rgb(244, 108, 108);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    border-radius: 70px;
    width: 4.7vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    animation: bounce-ball 7s linear infinite;
}

@keyframes bounce-ball {
    8% {

        transform: translateY(-240px) translateX(40px) rotate(360deg);
    }

    16% {
        transform: translateY(0px) translateX(100px) rotate(540deg);
    }

    24% {
        transform: translateY(-200px) translateX(160px) rotate(750deg);
    }

    32% {
        transform: translateY(0px) translateX(220px) rotate(900deg);
    }

    40% {
        transform: translateY(-160px) translateX(280px) rotate(1140deg);
    }

    48% {
        transform: translateY(0px) translateX(340px) rotate(1300deg);
    }

    56% {
        transform: translateY(-120px) translateX(400px) rotate(1530deg);
    }

    64% {
        transform: translateY(0px) translateX(460px) rotate(1700deg);
    }

    72% {
        transform: translateY(-80px) translateX(520px) rotate(1920deg);
    }

    80% {
        transform: translateY(0px) translateX(560px) rotate(2200deg);
    }

    85% {
        transform: translateX(740px) rotate(20deg) rotate(40deg) rotate(90deg) rotate(160deg) rotate(220deg) rotate(360deg);
    }
}
